In [1]:
import pandas as pd

In [2]:
import warnings

warnings.filterwarnings('ignore')

# Data Loading

In [3]:
# Paths
edenred_2024 = f'../data/raw/Consolidado Edenred 2024.xlsx'
edenred_2023 = f'../data/raw/Edenred Consolidado Diciembre 2023.xlsx'
edenred_2022 = f'../data/raw/Edenred Consolidado 2022.xlsx'
edenred_2021 = f'../data/raw/Edenred Fuel Consumption Consolidation 2021.xlsx'
consumo_tags_formato = f'../data/raw/Consumo en Tag 22 23 24_formato.xlsx'

In [4]:
edenred_xlsx_24 = pd.ExcelFile(edenred_2024)
edenred_xlsx_23 = pd.ExcelFile(edenred_2023)
edenred_xlsx_22 = pd.ExcelFile(edenred_2022)
edenred_xlsx_21 = pd.ExcelFile(edenred_2021)

edenred_xlsx = [edenred_xlsx_21, edenred_xlsx_22, edenred_xlsx_23, edenred_xlsx_24]

tag_xlsx_22_24 = pd.ExcelFile(consumo_tags_formato)

In [5]:
for i, edenred in enumerate(edenred_xlsx):
    print(f'202{i+1}: ', edenred.sheet_names)

2021:  ['Detalle de Movimientos por Fact', 'Sheet2', 'Sheet1']
2022:  ['Detalle de Movimientos por Fact', 'Sheet1']
2023:  ['Detalle de Movimientos ']
2024:  ['Sheet1', 'Sheet10', 'Sheet12', 'Sheet13', 'Detalle de Movimientos 2024']

In [6]:
edenred_df_24 = edenred_xlsx_24.parse('Detalle de Movimientos 2024')
edenred_df_23 = edenred_xlsx_23.parse('Detalle de Movimientos ')
edenred_df_22 = edenred_xlsx_22.parse('Detalle de Movimientos por Fact')
edenred_df_21 = edenred_xlsx_21.parse('Detalle de Movimientos por Fact')

edenred_df_list = [edenred_df_21, edenred_df_22, edenred_df_23, edenred_df_24]

# EDA

In [7]:
edenred_df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13542 entries, 0 to 13541
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month                   13542 non-null  object
 1   Id Grupo Región         13542 non-null  object
 2   Locacion                13542 non-null  object
 3   Cliente                 13542 non-null  object
 4   Factura                 13542 non-null  object
 5   Id Región               13542 non-null  object
 6   Serie                   13542 non-null  object
 7   No. Economico           13542 non-null  object
 8   Division                13542 non-null  object
 9   BL                      13542 non-null  object
 10  Sub BL                  13542 non-null  object
 11  Old BL                  13542 non-null  object
 12  AU                      13542 non-null  object
 13  AC                      13542 non-null  object
 14  CONCATENATE             13542 non-null  object
 15  VALID                   13542 non-null  object
 16  Identificador Vehículo  13542 non-null  object
 17  Vehículo                13542 non-null  object
 18  Placa                   13542 non-null  object
 19  Num Tarjeta             13542 non-null  int64
 20  Num Serie               13542 non-null  object
 21  Fecha Transacción       13542 non-null  object
 22  Hora Transacción        13542 non-null  object
 23  No Comprobante          13542 non-null  int64
 24  Id Mercancía            13542 non-null  int64
 25  Mercancía               13542 non-null  object
 26  Km Ant Transacción      13200 non-null  float64
 27  Km Transacción          13541 non-null  float64
 28  Recorrido               13199 non-null  float64
 29  Importe Neto            13542 non-null  float64
 30  IVA                     13542 non-null  float64
 31  IVA %                   13542 non-null  int64
 32  IEPS                    13542 non-null  float64
 33  Importe Transacción     13542 non-null  float64
 34  Serie.1                 13542 non-null  object
 35  Comision                13542 non-null  float64
 36  Subtotal                13542 non-null  float64
 37  Cantidad Mercancía      13542 non-null  float64
 38  KG C02                  13542 non-null  float64
 39  TON C02                 13542 non-null  float64
 40  Arboles                 13542 non-null  float64
 41  Precio Unitario         13542 non-null  float64
 42  Rendimiento             13542 non-null  float64
 43  Rendimiento Real        13542 non-null  float64
 44  Id Conductor            7159 non-null   float64
 45  Conductor               13522 non-null  object
 46  No Estación Pemex       13542 non-null  int64
 47  Razón Social Afiliado   13542 non-null  object
 48  RFC                     13542 non-null  object
 49  Número de Control       13542 non-null  int64
 50  Folio                   13542 non-null  int64
 51  Observación             12432 non-null  object
 52  Respuesta               13542 non-null  object
 53  Estado de Carga         13542 non-null  object
dtypes: float64(17), int64(7), object(30)
memory usage: 5.6+ MB

In [8]:
edenred_df_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12804 entries, 0 to 12803
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month                   12804 non-null  object
 1   Id Grupo Región         12804 non-null  object
 2   Grupo de Región         12804 non-null  object
 3   Cliente                 12804 non-null  object
 4   Factura                 12804 non-null  object
 5   PO                      12804 non-null  object
 6   GR                      12804 non-null  object
 7   Id Región               12804 non-null  object
 8   Serie                   12804 non-null  object
 9   No Economico            12804 non-null  object
 10  Division                12804 non-null  object
 11  BL                      12804 non-null  object
 12  BL 2                    12804 non-null  object
 13  SUB BL                  12804 non-null  object
 14  CC                      12804 non-null  object
 15  Identificador Vehículo  12804 non-null  object
 16  Vehículo                12804 non-null  object
 17  VIN Number              12804 non-null  object
 18  Placa                   12804 non-null  object
 19  Num Tarjeta             12804 non-null  int64
 20  Num Serie               12804 non-null  object
 21  Fecha Transacción       12804 non-null  object
 22  Hora Transacción        12804 non-null  object
 23  No Comprobante          12804 non-null  int64
 24  Id Mercancía            12804 non-null  int64
 25  Mercancía               12804 non-null  object
 26  Km Ant Transacción      12721 non-null  float64
 27  Km Transacción          12804 non-null  int64
 28  Recorrido               12721 non-null  float64
 29  Importe Neto            12804 non-null  float64
 30  IVA                     12804 non-null  float64
 31  IVA %                   12804 non-null  int64
 32  IEPS                    12804 non-null  float64
 33  Importe Transacción     12804 non-null  float64
 34  Comision                12804 non-null  float64
 35  Subtotal                12804 non-null  float64
 36  Cantidad Mercancía      12804 non-null  float64
 37  KG C02                  12496 non-null  float64
 38  TON C02                 12722 non-null  float64
 39  Arboles                 12722 non-null  float64
 40  Precio Unitario         12804 non-null  float64
 41  Rendimiento             12804 non-null  float64
 42  Rendimiento Real        12804 non-null  float64
 43  Id Conductor            12803 non-null  float64
 44  Conductor               12804 non-null  object
 45  No Estación Pemex       12804 non-null  object
 46  Razón Social Afiliado   12804 non-null  object
 47  RFC                     12804 non-null  object
 48  Número de Control       12804 non-null  object
 49  Folio                   12804 non-null  int64
 50  Observación             11741 non-null  object
 51  Respuesta               12768 non-null  object
 52  Estado                  12804 non-null  object
dtypes: float64(16), int64(6), object(31)
memory usage: 5.2+ MB

In [9]:
edenred_df_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13487 entries, 0 to 13486
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month                   13487 non-null  object
 1   Id Grupo Región         13487 non-null  object
 2   Grupo de Región         13487 non-null  object
 3   Cliente                 13487 non-null  object
 4   Factura                 13487 non-null  object
 5   PO                      13487 non-null  int64
 6   GR                      12354 non-null  object
 7   Id Región               13487 non-null  object
 8   Serie                   13487 non-null  object
 9   No Economico            13483 non-null  object
 10  Division                13487 non-null  object
 11  BL                      13487 non-null  object
 12  BL2                     13487 non-null  object
 13  SUB BL                  13487 non-null  object
 14  CC                      13487 non-null  object
 15  Identificador Vehículo  13487 non-null  object
 16  Vehículo                13487 non-null  object
 17  VIN NUMBER              13487 non-null  object
 18  Placa                   13487 non-null  object
 19  Num Tarjeta             13487 non-null  int64
 20  Num Serie               13487 non-null  object
 21  Fecha Transacción       13487 non-null  object
 22  Hora Transacción        13487 non-null  object
 23  No Comprobante          13487 non-null  int64
 24  Id Mercancía            13487 non-null  int64
 25  Mercancía               13487 non-null  object
 26  Km Ant Transacción      13422 non-null  float64
 27  Km Transacción          13485 non-null  float64
 28  Recorrido               13421 non-null  float64
 29  Importe Neto            13487 non-null  float64
 30  IVA                     149 non-null    float64
 31  IVA %                   13487 non-null  int64
 32  IEPS                    13487 non-null  float64
 33  Importe Transacción     13487 non-null  float64
 34  Comision                13487 non-null  float64
 35  Subtotal                13487 non-null  float64
 36  Cantidad Mercancía      13487 non-null  float64
 37  KG C02                  13487 non-null  float64
 38  TON C02                 13487 non-null  float64
 39  Arboles                 13487 non-null  float64
 40  Precio Unitario         13487 non-null  float64
 41  Rendimiento             13487 non-null  int64
 42  Rendimiento Real        13487 non-null  float64
 43  Id Conductor            13486 non-null  float64
 44  Conductor               13487 non-null  object
 45  No Estación Pemex       13487 non-null  int64
 46  Razón Social Afiliado   13487 non-null  object
 47  RFC                     13487 non-null  object
 48  Número de Control       13487 non-null  int64
 49  Folio                   13487 non-null  int64
 50  Observación             12040 non-null  object
 51  Respuesta               13487 non-null  object
 52  Estado                  13487 non-null  object
dtypes: float64(16), int64(9), object(28)
memory usage: 5.5+ MB

In [10]:
edenred_df_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8936 entries, 0 to 8935
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month                   8936 non-null   datetime64[ns]
 1   Id Grupo Región         8931 non-null   object
 2   Grupo de Región         8936 non-null   object
 3   Cliente                 8936 non-null   object
 4   Factura                 8936 non-null   object
 5   PO                      8936 non-null   object
 6   GR                      7017 non-null   object
 7   Id Región               8931 non-null   object
 8   Serie                   8936 non-null   object
 9   No Economico            8932 non-null   object
 10  Division                8936 non-null   object
 11  BL                      8936 non-null   object
 12  BL2                     8936 non-null   object
 13  SUB BL                  8936 non-null   object
 14  CC                      8936 non-null   object
 15  Identificador Vehículo  8936 non-null   object
 16  Vehículo                8936 non-null   object
 17  VIN NUMBER              8936 non-null   object
 18  Placa                   8936 non-null   object
 19  Num Tarjeta             8936 non-null   int64
 20  Num Serie               8936 non-null   object
 21  Fecha Transacción       8936 non-null   object
 22  Hora Transacción        8936 non-null   object
 23  No Comprobante          8936 non-null   object
 24  Id Mercancía            8936 non-null   object
 25  Mercancía               8936 non-null   object
 26  Km Ant Transacción      8910 non-null   float64
 27  Km Transacción          8936 non-null   int64
 28  Recorrido               8910 non-null   float64
 29  Importe Neto            8936 non-null   float64
 30  IVA                     8936 non-null   float64
 31  IVA %                   8936 non-null   int64
 32  IEPS                    8936 non-null   float64
 33  Importe Transacción     8936 non-null   float64
 34  Importe Transacción.1   8936 non-null   float64
 35  Comision                8936 non-null   float64
 36  Subtotal                8936 non-null   float64
 37  Cantidad Mercancía      8936 non-null   float64
 38  KG C02                  8936 non-null   float64
 39  TON C02                 8936 non-null   float64
 40  Arboles                 8936 non-null   float64
 41  Precio Unitario         8936 non-null   float64
 42  Rendimiento             8936 non-null   int64
 43  Rendimiento Real        8936 non-null   float64
 44  Id Conductor            8746 non-null   float64
 45  Conductor               8921 non-null   object
 46  No Estación Pemex       8936 non-null   object
 47  Razón Social Afiliado   8936 non-null   object
 48  RFC                     8936 non-null   object
 49  Número de Control       8936 non-null   object
 50  Folio                   8754 non-null   float64
 51  Observación             7935 non-null   object
 52  Respuesta               8827 non-null   object
 53  Unnamed: 53             1420 non-null   object
dtypes: datetime64[ns](1), float64(17), int64(4), object(32)
memory usage: 3.7+ MB

In [11]:
def find_common_and_unique_columns(df_list):
    columns = [df.columns for df in df_list]

    # Find the common columns
    common_columns = set(columns[0]).intersection(*columns[1:])
    print("Common columns:", common_columns)

    # Find the unique columns in each dataframe using the columns list and common columns
    unique_columns = [set(col) - common_columns for col in columns]

    for i, unique in enumerate(unique_columns):
        print(f"Unique columns in edenred_df_{21 + i}:", unique)

In [12]:
find_common_and_unique_columns(edenred_df_list)

Common columns: {'Importe Neto', 'Número de Control', 'Respuesta', 'Num Serie', 'Placa', 'Rendimiento Real', 'No Estación Pemex', 'Serie', 'No Comprobante', 'Arboles', 'Razón Social Afiliado', 'BL', 'TON C02', 'Recorrido', 'Rendimiento', 'Identificador Vehículo', 'Precio Unitario', 'Hora Transacción', 'Id Región', 'Km Ant Transacción', 'Subtotal', 'Observación', 'Factura', 'Division', 'Mercancía', 'Importe Transacción', 'Month', 'Num Tarjeta', 'IEPS', 'Comision', 'Id Conductor', 'IVA', 'Cantidad Mercancía', 'KG C02', 'Conductor', 'Vehículo', 'Km Transacción', 'Cliente', 'IVA %', 'Folio', 'Fecha Transacción', 'RFC', 'Id Grupo Región', 'Id Mercancía'}
Unique columns in edenred_df_21: {'AC', 'VALID', 'Serie.1', 'No. Economico', 'Old BL', 'AU', 'CONCATENATE', 'Sub BL', 'Estado de Carga', 'Locacion'}
Unique columns in edenred_df_22: {'CC', 'BL 2 ', 'No Economico', 'PO', 'GR', 'Grupo de Región ', 'VIN Number', 'Estado', 'SUB BL'}
Unique columns in edenred_df_23: {'BL2', 'CC', 'No Economico', 'PO', 'GR', 'Grupo de Región ', 'VIN NUMBER', 'Estado', 'SUB BL'}
Unique columns in edenred_df_24: {'BL2', 'CC', 'No Economico', 'Importe Transacción.1', 'PO', 'GR', 'Grupo de Región ', 'VIN NUMBER', 'Unnamed: 53', 'SUB BL'}

In [13]:
columns_renamed_21 = {
    'Serie.1': 'VIN NUMBER',
    'Estado de Carga': 'Estado',
    'No. Economico': 'No Economico',
    'Sub BL' : 'SUB BL',
    'Locacion' : 'Grupo de Región',
    'Old BL' : 'BL2',
}

columns_renamed_22 = {
    'VIN Number': 'VIN NUMBER',
    'Grupo de Región ' : 'Grupo de Región',
    'BL 2 ' : 'BL2'
    
}

columns_renamed_23 = {
    'Grupo de Región ' : 'Grupo de Región'
}

columns_renamed_24 = {
    'Grupo de Región ' : 'Grupo de Región'
}

In [14]:
edenred_clean_df_21 = edenred_df_21.rename(columns=columns_renamed_21)
edenred_clean_df_21 = edenred_clean_df_21.drop(columns=['CONCATENATE', 'VALID']) # La distribicuion de la columna es identica a la columna 'Importe Transacción'

edenred_clean_df_22 = edenred_df_22.rename(columns=columns_renamed_22)

edenred_clean_df_23 = edenred_df_23.rename(columns=columns_renamed_23)

edenred_clean_df_24 = edenred_df_24.rename(columns=columns_renamed_24)
edenred_clean_df_24 = edenred_clean_df_24.drop(columns=['Importe Transacción.1', 'Unnamed: 53']) # La distribicuion de la columna es identica a la columna 'Importe Transacción'

edenred_clean_df_list = [edenred_clean_df_21, edenred_clean_df_22, edenred_clean_df_23, edenred_clean_df_24]

In [15]:
find_common_and_unique_columns(edenred_clean_df_list)

Common columns: {'Importe Neto', 'Número de Control', 'Respuesta', 'Grupo de Región', 'Num Serie', 'Placa', 'Rendimiento Real', 'No Estación Pemex', 'Serie', 'No Comprobante', 'Arboles', 'Razón Social Afiliado', 'SUB BL', 'BL', 'TON C02', 'Recorrido', 'Rendimiento', 'Identificador Vehículo', 'Precio Unitario', 'Hora Transacción', 'Id Región', 'Km Ant Transacción', 'Subtotal', 'Observación', 'Factura', 'Division', 'Mercancía', 'Importe Transacción', 'Month', 'Num Tarjeta', 'IEPS', 'Comision', 'Id Conductor', 'IVA', 'Cantidad Mercancía', 'KG C02', 'No Economico', 'Conductor', 'Vehículo', 'Km Transacción', 'Cliente', 'BL2', 'IVA %', 'Folio', 'Fecha Transacción', 'RFC', 'Id Grupo Región', 'VIN NUMBER', 'Id Mercancía'}
Unique columns in edenred_df_21: {'AC', 'AU', 'Estado'}
Unique columns in edenred_df_22: {'Estado', 'PO', 'CC', 'GR'}
Unique columns in edenred_df_23: {'Estado', 'PO', 'CC', 'GR'}
Unique columns in edenred_df_24: {'PO', 'CC', 'GR'}

In [ ]:
years = [2021, 2022, 2023, 2024]

for year, df in zip(years, edenred_clean_df_list):
    df['Year'] = year

edenred_df = pd.concat(edenred_clean_df_list, ignore_index=True)

In [21]:
# for column in edenred_df:
#     print('-------------------------')
#     print(f'Column: {column}')
#     if edenred_df[column].nunique() >= 100:
#         print(edenred_df[column].value_counts().head(10))
#     else:
#         print(edenred_df[column].value_counts())

In [24]:
[column for column in edenred_df if 'C02' in column]

['KG C02', 'TON C02']

In [25]:
edenred_df.to_csv('../data/processed/edenred.csv', index=False)